
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // MASTER
    function isMaster() {
      return request.auth != null &&
             getUserData(request.auth.uid).role == 'master';
    }

    // DONO DA FRANQUIA
    function isFranchiseOwner(franchiseId) {
      return request.auth != null &&
             get(/databases/$(database)/documents/franchises/$(franchiseId))
               .data.ownerId == request.auth.uid;
    }
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    // =============================
    //  USERS
    // =============================
    match /users/{userId} {
      allow read, write: if isMaster() || request.auth.uid == userId;
    }

    // =============================
    //  FRANCHISES
    // =============================
    match /franchises/{franchiseId} {
      
      allow read, write: if
        isMaster() || isFranchiseOwner(franchiseId);
      
      allow list: if request.auth != null;

      // SUBCOLEÇÕES =============================

      match /technicians/{techId} {
        allow read, write: if
          isMaster() || isFranchiseOwner(franchiseId);
      }

      match /clients/{clientId} {
        allow read, write: if
          isMaster() || isFranchiseOwner(franchiseId);
      }

      match /appointments/{appointmentId} {
        allow read, write: if
          isMaster() || isFranchiseOwner(franchiseId);
      }

       match /serviceReports/{serviceReportId} {
        allow read, write: if
          isMaster() || isFranchiseOwner(franchiseId);
      }
    }
  }
}
